<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div 
		style="margin: 20px 0; display: flex; justify-content: center; align-items: center; flex-direction: column;" 
		id="videos-container"> </div>2

	<div
		style="display:flex;">

		<div style="flex:1">
		 	<ion-label style="color:grey;">Your Name</ion-label>

			<ion-input 
				[(ngModel)]="name" 
				clearInput 
				placeholder="What is your name?" >
			</ion-input>
		</div>
	
		<div style="flex:1">
			<ion-label style="color:grey;"> Who you want to call (Name) </ion-label>
 	 		<ion-input 
				[(ngModel)]="remoteName" 
				clearInput 
				placeholder="Who do you want to call?" >
			</ion-input>
		</div>
	</div>
	
	<ion-grid>

		<ion-row>
			<ion-button  
				style="flex:1;" 
				color="tertiary" 
				id="btn-make-call" 
				(click)="makeCall()" >
			Call </ion-button>

		</ion-row>

		<ion-row>
			<ion-col>
				List of Available users to call:
			</ion-col>
		</ion-row>

	</ion-grid>

	<hr/>

			<ion-list *ngFor="let participant of participants">
			    
		        Name: {{participant.name}}
		        <hr/>
		        ID: <ion-input style="display:inline; margin-bottom: 5px;">{{participant.id}}</ion-input>


			</ion-list>
	<hr/>

	<div
		style="display:flex;">

		<ion-button  
			style="flex:1;" 
			color="primary" 
			id="btn-open-room" 
			(click)="openOrJoinYourRoom()" >
		Open Or Join Room </ion-button>


		<ion-button  
			style="flex:1;" 
			color="primary" 
			id="btn-open-room" 
			(click)="openOrJoinOtherRoom()" >
		Open Or Join Other Room </ion-button>
	
		<ion-button  
			style="flex:1;" 
			color="secondary" 
			id="btn-update-styling" 
			(click)="updateVideosStyling()" >
		Update Videos Styling </ion-button>

	</div>

</ion-content>
