<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div style="flex:1; flex-direction: row;">
	
		<ion-button color="primary" id="btn-init" (click)="initVideoCall()" > Initialize </ion-button>
		<hr>
		<ion-button color="secondary" id="btn-open-room" (click)="openRoom()" > Open Room </ion-button>
		<hr>
		<ion-button color="tertiary" id="btn-join-room" (click)="joinRoom()" > Join Room </ion-button>
		<hr>
	
	</div>

	<hr/>

	<div style="width: 85vw; height:65vh; overflow: hidden; margin:2vw; background-color: green;" id="videos-container"> </div>

</ion-content>
